<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" >
</head>
<body>
<div class="header">
    <h1>ยอดเงินของฉัน</h1>
</div>

<div class="content">

  <form method = "post" action = "http://localhost:5000/">  
       
        <select name="coin" id="coin">
          {% for item in data %}
          <option name="cryto"> {{item.symbol}} </option>
          {% endfor %}
        </select>
        <label for="fname">:</label>
        <input type="text" id="balance" name="balance"><br><br>
        <br><br>
        <label>{{ result }} : {{ result2 }}</label> 

        <br><br>
        <input type="Submit" value="Summit">
      </form>
</div>
</body>
</html>
